{% extends "base.html" %}

{% block content %}
    <h1>Worker List
    </h1>

    {% if worker_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Full name</th>
        <th>Position</th>
        <th>Number of tasks</th>
      </tr>
    {% for worker in worker_list %}
      <tr>
        <td>{{ worker.id }}</td>
        <td><a href="{{ worker.get_absolute_url }}">{{ worker.username }} {% if user == worker %} (Me){% endif %}</a></td>
        <td>{{ worker.first_name }} {{ worker.last_name }}</td>
        <td>{{ worker.position }}</td>
        <td>{{ worker.tasks.count }}</td>
      </tr>
    {% endfor %}

    </table>
    {% else %}
      <p>There are no workers</p>
    {% endif %}
{% endblock %}
