{% extends "base.html" %}

{% block content %}
  <h1>
    Username: {{ worker.username }}
    <a style="float: right" href="{% url 'manager:worker-delete' pk=worker.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>
    <a style="float: right" href="{% url 'manager:worker-update' pk=worker.id %}" class="btn btn-secondary link-to-page">
      Edit
    </a>
  </h1>

  <p><strong>Full name:</strong> {{ worker.first_name }} {{ worker.last_name }}</p>
  <p><strong>Position:</strong> {{ worker.position }}</p>
  <p>Completed tasks: {{ completed_tasks.count }}</p>
  <p>In progress tasks: {{ uncompleted_tasks.count }}</p>
  <p>
    Overdue tasks:
    {% if uncompleted_tasks.count > 0 and  task.deadline < today_date %}

    {% endif %}
  </p>
  {% for worker in worker_list %}
    <li>ere: {{ worker.username }} {{ worker.num_tasks }}</li>>
  {% endfor %}
  <div class="ml-3">

  <table class="table">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Type</th>
        <th>Deadline</th>

      </tr>
    {% for task in worker.tasks.all %}
      {% if task.deadline < today_date and task.is_completed is False %}
        <tr class="table-danger">
      {% else %}
        <tr>
      {% endif %}
        <td>{{ task.id }}</td>
        <td><a href="{% url "manager:task-detail" pk=task.id %}">{{ task.name }}</a></td>
        <td>{{ task.priority }}</td>
        <td>
          {% if task.is_completed is False %}
            {% if task.deadline < today_date %}
              overdue
            {% else %}
              in progress
            {% endif %}
          {% else %}
            done
          {% endif %}
        </td>
        <td>{{ task.task_type.name }}</td>
          <td>{{ task.deadline.date }}</td>
      </tr>
    {% endfor %}
    </table>
  </div>
{% endblock %}
